.card-wrapper {
    max-width: 360px;
    border: 1px solid grey;
    border-radius: 3px;
}

.card-header {
    display: flex;
}

.card-img img {
    width: 100%;
    max-width: 150px;
}

.card-desc {
    width: 70%;
}

.card-list {
    margin: 0 10px;
}

.card-list li {
    margin: 10px 0;
}

.stats h4 {
    text-align: center;
}
